
html body{
  background: url("./background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

#wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;

}


#heading{
  color: #fff;
  font-size: 5em;
  margin-bottom: 30px auto 0 auto;
  text-align: center;
  border-bottom: 2px solid #ffc600;
}
.keys {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 0.6rem;
  font-size: 1.2rem;
  padding: 0.7rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color:#ffc600;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: rgba(214, 153, 39, 0.4);
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #fff;
}


@media screen and (max-width:500px) {
  .keys{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap:20px;
  }
}